@font-family--base: "Oswald Regular", "Arial", sans-serif;
@font-weight--base: 400;

@font-size--h2mobile: 36px;
@font-size--mobile: 14px;
@font-size--h2base: 60px;
@font-size--base: 16px;

@line-height--h2mobile: 36px;
@line-height--mobile: 18px;
@line-height--h2base: 60px;
@line-height--base: 24px;


@green: #68b738;
@white: #ffffff;
@black: #000000;
@bg--lightgrey: #f2f2f2;

@text--darkgrey: #444444;

@screen-mobile: 320px;
@screen-tablet: 768px;
@screen-desktop: 1300px;
