.additionally {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &__title {
    color: @black;
    font-family: @font-family--base;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 32px;
    position: relative;

    &::before {
      content: "";

      position: absolute;
      width: 54px;
      height: 3px;
      top: 50%;
      right: -20px;
      background-color: @green;
    }
  }

  &__catalog {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-top: 1px solid #cdcdcd;
    padding-top: 15px;
  }

  &__item-title {
    color: @black;
    font-family: @font-family--base;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: @font-size--base;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
  }

  &__item:last-child {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 40px;
  }

  &__description {
    width: 100%;
    margin-bottom: 14px;
    & tr {
      display: flex;
      justify-content: space-between;
    }    
  }
  
  &__field,
  &__value {
    color: @black;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
  }

  &__order {
    margin-bottom: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__order-gift {
    display: block;
    min-height: 289px;
    margin-bottom: 32px;
    position: relative;
    background-color: #68b738;
    background-image: url("../img/gift-photo-mobile@1x.jpg");
    background-image: url("../img/gift-photo-mobile@1x.webp");
    background-repeat: no-repeat;
    background-position: 0 0;

    &::before {
      content: "";

      position: absolute;
      width: 55px;
      height: 60px;
      top: 64px;
      left: 112px;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-image: url("../img/gift-photo-mobile@2x.webp");
      background-size: 100% auto;
    }
  }

  &__order-text {
    color: @white;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: @font-size--base;
    line-height: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 200px;
  }
}

@media (min-width: @screen-tablet) {
  .additionally {
    margin-top: -70px;
    padding-left: 0;
    padding-right: 0;

    &__title {
      font-size: @font-size--h2mobile;
      line-height: @line-height--h2mobile;
      margin-bottom: 76px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 70px;
      &::before {
        width: 42%;
        top: 50%;
        right: 0;
      }
      &::after {
        content: "";

        position: absolute;
        width: 30px;
        height: 3px;
        top: 50%;
        left: 0;
        background-color: @green;
      }
    }

    &__catalog {
      padding-left: 30px;
      padding-right: 30px;
    }

    &__item {
      padding-top: 28px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 28px;
      border-left: 1px solid @bg--lightgrey;
      border-right: 1px solid @bg--lightgrey;
    }

    &__item:last-child {
      margin-bottom: 70px;
    }

    &__description {
      width: 232px;
      margin-bottom: 0;
      & tr {
        justify-content: flex-end;
      }     
    }

    &__field,
    &__value {
      font-size: @font-size--base;
      line-height: 20px;     
    }

    &__field {
      margin-right: 52px;
    }

    &__item-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }

    &__item-title {
      margin-bottom: 0;
    }

    &__order {
      margin: 0;
    }

    &__order-gift {
      min-height: 200px;
      background-image: url("../img/gift-photo-tablet@1x.jpg");
      background-image: url("../img/gift-photo-tablet@1x.webp");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      margin-left: 30px;
      margin-right: 30px;
      text-align: center;
      padding-top: 62px;
      padding-left: 330px;

      &::before {
        top: 65px;
        left: 90px;
      }

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
        background-image: url("../img/gift-photo-tablet@2x.webp");
      }
    }

    &__order-text {
      display: inline-block;
      padding: 0;
      margin: 0;
      text-align: left;
      width: 170px;
    }
  }
}

@media (min-width:@screen-desktop) {
  .additionally {
    max-width: 1300px;
    margin-top: -60px;
    margin-bottom: 86px;

    &__title {
      padding-left: 40px;
      &::before {
        width: 67%;
        top: 50%;
      }
      &::after {
        display: none;
      }
    }

    &__wrap {
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      justify-content: space-between;
    }

    &__catalog {
      padding: 0;
    }

    &__item {
      width: 896px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 0;
      padding-right: 0;
      border-left: none;
      border-right: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__item-title {
      font-family: @font-family--base;
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      margin: 0;
    }

    &__description {
      width: 285px;
      margin-bottom: 0;
      & tr {
        justify-content: space-between;
      }
    }
    &__field {
      margin: 0;
    }

    &__item-wrap {
      width: 650px;
      margin: 0;
      padding-right: 40px;
    }

    &__order {
      width: 245px;
    }

    &__order-gift {
      width: 245px;
      min-height: 289px;
      background-image: url("../img/gift-photo-desktop@1x.jpg");
      background-image: url("../img/gift-photo-desktop@1x.webp");
      background-repeat: no-repeat;
      background-position: 0 0;
      margin: 0;
      padding-top: 192px;
      padding-left: 0;
      &::before {
        left: 96px;
      }
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
        background-image: url("../img/gift-photo-desktop@2x.webp");
      }
    }

    &__order-text {
      text-align: center;
    }
  }
}
