.address-map {
  position: relative;

  &__container {
    position: relative;
  }

  &__image {
    position: relative;
    margin: 0 auto;
    display: block;
    z-index: 0;
    margin-bottom: -5px;
  }

  &__container-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: 362px;
    z-index: 1;
  }

  &__info-catalog,
  &__info-form {
    background-color: @bg--lightgrey;
  }
}

@media (min-width: @screen-tablet) {
  .address-map {
    &__container-map {
      border: 0;
      height: 396px;
    }
  }
}

@media (min-width: @screen-desktop) {
  .address-map {
    &__container-map {
      border: 0;
      height: 400px;
    }
  }
}
