.address-map {
  position: relative;
  // outline: 1px solid black;

  &__container-map {
    border: 0;
    height: 362px;
    margin-bottom: -5px;
  }

  &__info-catalog,
  &__info-form {
    background-color: @bg--lightgrey;
  }
}

@media (min-width: @screen-tablet) {
  .address-map {
    &__container-map {
      border: 0;
      height: 396px;
    }
  }
}

@media (min-width: @screen-desktop) {
  .address-map {
    &__container-map {
      border: 0;
      height: 400px;
    }
  }
}
