.button {
  color: @white;
  text-align: center;
  text-transform: uppercase;
  background-color: @green;
  display: block;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }  
  &:active {
    color: rgba(#ffffff, 0.3); 
  } 


}

