.catigories {
  margin-top: 20px;  //Двигает .first-screen
  outline: 1px solid black;
}

.catigories-best {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-top: 40px;
  padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 20px;
  background-color: @bg--lightgrey;

  &:last-child {
    margin-bottom: 0;
  }

  &__item-title {
    color: @black;
    font-family: @font-family--base;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
  }

  &__item-title::before {
    content: "";

    position: absolute;
    width: 50px;
    height: 50px;
    top: -8px;
    left: -2px;
    background-color: @green;
    border-radius: 50%;
  }

  &__item--slim::after {
    content: "";

    position: absolute;
    width: 35px;
    height: 49px;
    top: -10px;
    left: 6px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item--pro {
    padding-left: 40px;
  }

  &__item--pro::after {
    content: "";

    position: absolute;
    width: 67px;
    height: 28px;
    top: 4px;
    left: -10px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-text {
    color: @text--darkgrey;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: 14px;
    line-height: @line-height--mobile;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__item-link {
    position: relative;
  }

  &__item-link::before {
    content: "";

    position: absolute;
    width: 24px;
    height: 11px;
    top: 6px;
    left: 100px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &__item-link a {
    color: @black;
    font-family: @font-family--base;
    font-style: normal;
    font-weight: @font-weight--base;
    font-size: @font-size--base;
    line-height: 16px;
    text-transform: uppercase;
  }
}

@media (min-width: @screen-tablet) {
  .catigories-best {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-left: 54px;
    padding-right: 284px;
    padding-bottom: 62px;

    &__item-title {
      font-size: 36px;
      line-height: 37px;
      text-align: left;
      margin-bottom: 26px;
      padding: 0;
      width: 380px;
    }

    &__item-title::before {
      width: 200px;
      height: 200px;
      top: 12px;
      left: 400px;
    }
    &__item--slim::after {
      width: 140px;
      height: 194px;
      top: 0;
      left: 430px;
    }
    &__item--pro::after {
      width: 268px;
      height: 112px;
      top: 60px;
      left: 366px;
    }
    &__item-text {
      font-size: @font-size--base;
      line-height: @line-height--base;
      margin-bottom: 62px;
      padding: 0;
      width: 380px;
      border: none;
    }

    &__item-link a {
      font-size: 20px;
      line-height: 20px;
    }

    &__item-link::before{
      top: 6px;
      left: 124px;
    }
  }

}

@media (min-width:@screen-desktop) {
  .catigories {
    display: flex;
    justify-content: space-between;

    &-best {
      margin: 0;
      outline: 1px solid black;
    }
  }

}
