.first-screen {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  background-color: @white;
  outline: 1px solid black;
}

.first-screen--cat {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.first-screen__description {
  color: @white;
  font-family: @font-family--base;
  font-style: normal;
  font-weight: @font-weight--base;
  font-size: @font-size--h2mobile;
  line-height: @line-height--h2mobile;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.first-screen__slogan {
  color: @white;
  font-family: @font-family--base;
  font-style: normal;
  font-weight: @font-weight--base;
  font-size: @font-size--mobile;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.main-image__image-chicken {
  margin-bottom: 3px;
}

.first-screen__form-link {
  color: @white;
  font-family: @font-family--base;
  font-style: normal;
  font-weight: @font-weight--base;
  font-size: @font-size--mobile;
  line-height: @line-height--mobile;
  text-align: center;
  text-transform: uppercase;
  background-color: @green;
  display: block;
  width: 280px;
  margin: 0;
  padding: 12px 0;
}
