.page-header {
  width: 320px;
  margin: 0 auto;
  margin-top: 12px;
  // margin-bottom: 16px;
  // padding-left: 20px;
  // padding-right: 20px;
  display: flex;
  flex-direction: column;
 }

.page-header__logo { 
  padding-left: 20px; 
  margin-right: 80px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @screen-tablet) {
  .page-header {
    width: auto;
    margin-top: 24px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;

    &__logo {
      margin: 0;
      padding-left: 0;
      width: 174px;
      outline: 1px solid black;
    }
  }
}

@media (min-width:@screen-desktop) {
  .page-header {
    max-width: @screen-desktop;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;

    &__logo {
      margin: 0;
      padding: 0;
      width: 202px;
    }
  }
}
